@import 'tailwindcss';
@import 'react-big-calendar/lib/css/react-big-calendar.css';

.rbc-allday-cell {
  display: none;
}

.rbc-time-header,
.rbc-time-content {
  @apply gap-1;
}

.rbc-time-header-content {
  @apply h-14 justify-center rounded-tl-3xl rounded-tr-3xl bg-white text-[#0C2C47];
}

.rbc-time-header-gutter {
  @apply !border-r-0 !bg-transparent;
}

.rbc-header,
.rbc-day-slot {
  @apply !min-w-[200];
}

.rbc-time-gutter {
  @apply !border-r-0 !bg-transparent;
}

.rbc-time-view,
.rbc-header,
.rbc-row-resource,
.rbc-timeslot-group,
.rbc-time-content {
  @apply !border-0;
}

.rbc-header {
  white-space: normal !important;
}

.rbc-day-slot {
  background-color: white;
}

.rbc-label {
  @apply !text-white;
}

.rbc-time-gutter {
  @apply !-translate-y-2;
}

.rbc-event {
  @apply !bg-[#FFD6CC] !text-xs !text-gray-800;
}

.rbc-event-content {
  white-space: pre-line;
}

.rbc-day-slot {
  @apply !cursor-cell;
}

.rbc-day-slot .rbc-timeslot-group {
  border-color: lab(90.952% -0.0000596046 0);
  @apply !border-b;
}
